body {
  display: grid;
  justify-content: center;
}

#workzone {
  position: relative;
  display: grid;
  justify-content: center;
}

#ChessSet {
  position: relative;
  display: flex;
  justify-content: center;
}

#coverBox {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
}

#recruit {
  background: rgba(0, 0, 0, 0.3);
  height: 120px;
}

.chess-piece {
  position: absolute;
  cursor: grab;
  z-index: 1;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
