#workzone {
  display: grid;
  justify-content: center;
  anchor-name: --coverBox;
}

#ChessSet {
  display: flex;
  justify-content: center;
}

#coverBox {
  position-anchor: --coverBox;
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  width: anchor-size(width);
  height: anchor-size(height);
  z-index: 2;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  display: grid;
  place-items: center;
}

#recruit {
  background: rgba(0, 0, 0, 0.3);
  height: 120px;
}
